@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.animate-scroll {
    display: inline-block; 
    animation: scroll linear infinite; 
    width: calc(100vw * 2); 
}

/* Card styling */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover:scale-110:hover { 
    transform: scale(1.12); 
}

.hover:shadow-2xl:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
}
